/* ==== Scrollbar CSS ==== */

#conteudo:-webkit-scrollbar {
    width: 12px;
}

#conteudo:-webkit-scrollbar-track {
    background: none;
}
#conteudo:-webkit-scrollbar-thumb {
    background-color: #582965;
    border-radius: 10px;
    border: 3px solid #fff;
}