/* alert3 */

.warning-alert {
    padding: 15px;
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    border-radius: 4px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
  }
  