* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}
html {
    font-size: 16px;
}
body {
    width: 99vw;
    height: 99vh;
    background-color: antiquewhite;
}
#navbar {
    width: 100vw;
    font-family: "Bungee", sans-serif;
    display: flex;
    justify-content: space-between;
}
.categorias {
    display: flex;
}
.categorias p {
    font-size: 1rem;
    margin-right: 1.8rem;
}

#sidebar {
    width: fit-content;
    display: flex;
    height: 80vh;
    align-items: center;
}
.side{
    display: flex;
    flex-direction: column;
    font-family: "Bungee", sans-serif;
    height: fit-content;
    border-radius: 0px 16px 16px 0px;
    width: fit-content;
    padding: 0.2rem;
    font-size: 0.95rem;
    background-color: #222F44;
}